@page
@using System.Reflection
@model Frontend_Project.Pages.VaerktoejsKasse.CreateModel
@{
    ViewData["Title"] = "Tilføj Vaerktoejs Kasse";
}

<div>
    <h1> Tilføj værktøjs kasse</h1>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <form method="post">
                <div class="form-group">
                    <label for="Model" class="control-label">Model</label>
                    <input type="text" asp-for="LocalModel.VTKModel" />
                </div>
                <div class="form-group">
                    <label for="Fabrikant" class="control-label">Fabrikant</label>
                    <input type="text" asp-for="LocalModel.VTKFabrikat" />
                </div>
                <div class="form-group">
                    <label for="Farve" class="control-label">Farve</label>
                    <input type="text" asp-for="LocalModel.VTKFarve" />
                </div>
                <div class="form-group">
                    <label for="Anskaffet" class="control-label">Anskaffet</label>
                    <input type="datetime" asp-for="LocalModel.VTKAnskaffet" />
                </div>
                <div class="form-group">
                    <label for="Serienummer" class="control-label">Serienummer</label>
                    <input type="text" asp-for="LocalModel.VTKSerienummer" />
                </div>
                <div class="form-group">
                    <label for="HaandvaerkerNavn" class="control-label">Haandvaerker Navn</label>
                    <input type="text" asp-for="HaandvaerkerNavn" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary shadow">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a class="btn btn-secondary" asp-page="/VaerktoejsKasse/Index">Tilbage</a>
    </div>
</div>