@page
@using System.Reflection
@model Frontend_Project.Pages.Haandvaerker.CreateModel
@{
    ViewData["Title"] = "Tilføj Håndværker";
}

<h1> Tilføj Håndværker</h1>
<form method="post">
    <input type="text" asp-for="LocalModel.Fornavn"/>
    <input type="text" asp-for="LocalModel.Efternavn"/>
    <input type="datetime" asp-for="LocalModel.Ansættelsesdato"/>
    <input type="text" asp-for="LocalModel.Fagområde"/>
    <input type="number" asp-for="LocalModel.ID"/>
    
    <button type="submit" >Submit</button>
</form>