@page "{id:int}"
@model Frontend_Project.Pages.Haandvaerker.EditModel
@{

}

<div>
    <h1> Ændring af Håndværker</h1>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <form method="post">
                <div class="form-group">

                    <label for="Fornavn" class="control-label">Fornavn</label>

                    <input type="text" asp-for="localModel.hvFornavn" placeholder="@Model.localModel.hvFornavn" />
                </div>
                <div class="form-group">
                    <label for="Efternavn" class="control-label">Efternavn</label>
                    <input type="text" asp-for="localModel.hvEfternavn" placeholder="@Model.localModel.hvEfternavn" />
                </div>
                <div class="form-group">
                    <label for="Ansættelsesdato" class="control-label">Ansættelsesdato</label>
                    <input type="datetime" asp-for="localModel.hvAnsaettelsedato" placeholder="@Model.localModel.hvAnsaettelsedato" />
                </div>
                <div class="form-group">
                    <label for="Fagområde" class="control-label">Fagområde</label>
                    <input type="text" asp-for="localModel.hvFagomraade" placeholder="@Model.localModel.hvFagomraade" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary shadow">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a class="btn btn-secondary" asp-page="/Haandvaerker/Details" asp-route-id="localModel.haandvaerkerId">Tilbage</a>
    </div>
</div>